.container {
    display: flex;
    /*flex-direction: column;*/
    /*flex-derection:row-reverse;
    flex-direction: row; */
    
    
    border: 3px solid black;
    padding: 20px;
}

.box {
    background-color: lightblue;
    border: 2px solid blue;
    
    padding: 30px;
    margin: 10px;
}